/*BOTÃO BASICO*/
.but {
display: inline-block;
background-color: #ccc;
color: #444;

text-decoration: none;
box-sizing: border-box;
font-family: Helvetica, Arial, sans-serif;
font-size: 14px;
border: 0px;
}

.but:hover {
background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.15));
cursor: pointer;
}
/*CORES*/
.but-primary {
color: #fff;
background-color: #0068B4;
}
 
.but-success {
color: #fff;
background-color: #009835;
}
 
.but-error {
color: #fff;
background-color: #CC0000;
}
 
.but-warning {
color: #fff;
background-color: #F28E00;
}
/* EFEITOS */ 
.but-shadow {
box-shadow: 1px 1px 1px #999;
}
 
.but-rc {
border-radius: 4px;
}
.but-size1{
padding: 3px 20px;
}
.but-size2{
padding: 15px 20px;
}